/* Font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Manrope:wght@200;300;600;700;800&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

html {
  font-size: 100%;
}

:root {
  /* Colors */
  --primary: #ff6464;
  --secondary: #00a8cc;
  --dark: #21243d;
  --light: #8695a4;
  --light-grayish-cyan: #c0e9f5;
  --dark-grayish-cyan: #037091;
  --bgColorOne: rgb(236, 246, 248);
}

.btn {
  text-decoration: none;
  color: var(--light-grayish-cyan);
  background-color: var(--primary);
  font-family: sans-serif;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  padding: 10px 35px;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  transition: all 0.2s;
}

.btn:before {
  content: '';
  background-color: var(--dark-grayish-cyan);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* z-index: -1; */
  transform: translateX(-100%);
  transition: all 0.2s;
}

.btn:hover {
  color: #fff;
  cursor: pointer;
}

.btn:hover::before {
  transform: translateX(0);
}

.btn-text {
  position: relative;
  z-index: 1;
}

